* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden; /* Para evitar rolagem horizontal */
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    background-color: #ccff99;
}

p, li {
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    padding-top: 30px;
}

#header {
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    overflow-x: hidden; /* Garante que nada vaze para fora */
    position: relative; /* Necessário para posicionar o ícone do menu */
    background-color: #008a1e9e; /* Garantir que o fundo do cabeçalho não cause linhas indesejadas */
}

.titulo {
    background-color: #008a1e9e;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 1% 0; /* Ajuste o padding conforme necessário */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitulo {
    text-align: center;
    color: #000000;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#principal {
    background-color: #42681c66;
    padding: 2%;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; /* Garante que nada vaze para fora */
    background-color: #3a6f33; /* Adiciona o fundo do menu para evitar linhas indesejadas */
}

#menu li {
    float: left;
    width: 16.667%;
    text-align: center;
    background-color: #3a6f33;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
}

#menu li a {
    text-decoration: none;
    color: #402a23;
    font-weight: bold;
    padding: 5% 0; /* Ajuste o padding conforme necessário */
    display: block;
}

#menu li a:hover {
    color: #000000;
    background-color: #014204;
}

.menu-icon {
    display: none; /* Oculta o ícone do menu por padrão */
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #008a1e9e; /* Fundo do ícone para corresponder ao cabeçalho */
    border: none; /* Remove borda se houver */
    color: #ffffff; /* Cor do ícone */
}

.carne {
    width: 100%;
    max-width: 500px;
    height: 30px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #000000;
    text-align: center;
    background-color: #a5ee1d;
}

.centraliza {
    text-align: center;
    margin: 2rem;
    color: #000000;
}

.justify {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    color: #000000;
}

.imagem {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(1, 66, 4);
}

.imagem2 {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 66, 4);
}

.imagem3 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 66, 4);
}

.imagem4 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 66, 4);
}

.imagem5 {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    shape-outside: border-box;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 66, 4);
}

.video-container {
    text-align: center;
    margin: 20px auto; 
}

video {
    border: 2px solid #333; 
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
}


.obrigado {
    border-radius: 5%;
    background-color: #26a83eb2;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 768px) {
    #menu li {
        display: none;
        width: 100%;
    }

    .menu-icon {
        display: block; 
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked + .menu-icon + #menu li {
        display: block;
    }

    #menu li a {
        display: block;
        padding: 10px 0;
    }
    .imagem {
        max-width: 100%; 
    }
    
    .imagem2 {
        max-width: 100%; 
    }
    
    .imagem3 {
        max-width: 100%; 
    }
    
    .imagem4 {
        max-width: 100%; 
    }
    
    .imagem5 {
        max-width: 100%; 
    }
    video {
        max-width: 100%; 
    }
}
@media (min-width: 769px) {
    .imagem {
        max-width: 30%; 
    }
    
    .imagem2 {
        max-width: 30%; 
    }
    
    .imagem3 {
        max-width: 30%; 
    }
    
    .imagem4 {
        max-width: 30%; 
    }
    
    .imagem5 {
        max-width: 30%; 
    }
}
